<!-- Launch file for running RS locally with web viwualization -->
<launch>
  <!-- launch robosherlock -->
  <arg name="ae"       default="pnp_ease"/>
  <arg name="vis"      default="true"/>
  <arg name="wait"     default="true"/>
  <arg name="parallel" default="true"/>
  <arg name="pervasive" default="false"/>
  <node name="RoboSherlock" pkg="robosherlock" type="run" output="screen">
   <param name="ae"        type="str"  value="$(arg ae)"/>
   <param name="vis"       type="bool" value="$(arg vis)"/>
   <param name="wait"      type="bool" value="$(arg wait)"/>
   <param name="withIDRes" type="bool" value="true" />
   <param name="parallel"  type="bool" value="$(arg parallel)" />
   <param name="pervasive" type="bool" value="$(arg pervasive)" />
  </node>

  <!-- launch realtime filter -->
<!--  <node pkg="realtime_urdf_filter" type="realtime_urdf_filter" name="$(anon realtime_urdf_filter)" output="log">
    <remap from="~input_depth" to="/kinect_head/depth_registered/image_raw"/>
    <remap from="~output_depth" to="/kinect_head/depth_registered/image_raw_filtered" />
    <remap from="~output_mask" to="/kinect_head/depth_registered/mask_filtered" />

    <rosparam command="load" file="$(find robosherlock)/config/filter_parameters_kinect.yaml"/>
    <env name="DISPLAY" value=":0"/>
  </node>-->

</launch>
